/**
* Updated by Ilton Garcia dos Santos Silveira
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$open-sans: 'Open Sans', sans-serif;

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  background: #179BE0;
  -webkit-font-smoothing: antialiased;
  font-family: $open-sans;

  min-width: 720px;
  min-height: 720px;
}

input {
  outline: none;
  font-size: 14px;
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  p {
    margin: 0;
    padding: 0;
  }
}

#wrong-alert {
  i.fa {
    font-size: 1.4em !important;
  }
}

.game-section {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .25s ease;

  &.game, &.credits {
    z-index: 99;
  }

  &.game {
    right: -100%;
    background: #4DB6AC;

    &.show {
      right: 0;
    }
  }

  &.credits {
    left: -100%;
    background: #2C858D;

    &.show {
      left: 0;
    }
  }
}

.site-container {
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  margin-left: -350px;
  margin-top: -350px;
}

.game-section.menu .content {
  width: 300px;
  height: 260px;
  margin: 220px auto;

  .logo {
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
  }

  .button {
    height: 60px;
    display: block;
    background: #1586C1;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: 700;
    font-size: 1.375em;
    transition: background .25s ease;

    &:hover {
      background: darken(#1586C1, 10);
    }
  }
}

.game-section .menu-bar {
  width: 100%;
  height: 45px;
  padding: 5px;
  position: relative;
  margin-bottom: 50px;
  border-radius: 5px;
  background: rgba(0, 0, 0, .05);
  box-sizing: border-box;

  a.link {
    width: auto;
    height: 35px;
    padding: 0 20px;
    display: inline-block;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    transition: all .25s ease;

    color: white;
    line-height: 35px;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }
  }

  .logo {
    right: 10px;
    height: 35px;
    position: absolute;

    img {
      width: auto;
      height: 35px;
    }
  }
}

.game-section.game {

  .left-game-col {
    float: left;
    width: 395px;
  }

  .right-game-col {
    float: right;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .05);
    box-sizing: border-box;
  }

  .game-content {
    .word-info,
    .used-words,
    .game-information {
      padding: 6px 10px 10px;
      border-radius: 3px;
      background: rgba(0, 0, 0, .05);
      box-sizing: border-box;

      h2 {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .word-info {
      height: 175px;
    }

    .word-info {
      width: 395px;
      margin-bottom: 5px;

      .enter-char {
        padding: 10px;
        margin-top: 10px;
        border-radius: 3px;
        background: rgba(0, 0, 0, .1);
        box-sizing: border-box;

        h3 {
          margin-top: -5px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 100%;
        }

        .input {
          border: 0;
          width: 100%;
          height: 35px;
          padding: 0 10px;
          text-align: center;
          border-radius: 3px;
          box-sizing: border-box;
          background: rgba(255, 255, 255, .8);
        }

      }
    }

    .game-information {
      width: 395px;

      h2 {
        margin-bottom: 5px !important;
      }

      .bold {
        font-weight: 700;
      }

      ul {
        margin: 0;
        list-style: disc;
        padding-left: 1em;

        li {
          margin-bottom: 2px !important;
        }
      }
    }

    .used-words {
      width: 700px;
      height: 85px;
      margin-top: 5px;

      .alphabet {
        width: 100%;
        padding: 0 !important;
        margin-top: 10px;

        li {
          float: left;
          width: 20px;
          height: 38px;
          display: block;
          margin-right: 5px;
          border-radius: 3px;
          background: rgba(0, 0, 0, .05);
          transition: background .25s ease;

          color: white;
          line-height: 35px;
          text-align: center;
          font-weight: 700;

          &.used {
            background: #FF4E51;
          }

          &.in-word {
            background: #70CD6B;
          }
        }
      }
    }

  }
}

.word-characters {
  clear: both;
  padding: 0;
  margin: 20px 0;

  li {
    float: left;
    width: 20px;
    height: 25px;
    display: block;
    line-height: 25px;
    margin-right: 4px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
  }
}

.overlay {
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  border-radius: 5px;
  background: rgba(0, 0, 0, .3);

  &.show {
    display: block;
  }

  .modal {
    width: 350px;
    height: 160px;
    padding: 15px;
    display: none;
    margin-top: 275px;
    margin-left: 150px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background .25s ease;

    &.failed {
      background: #ea4747;

      a {
        background: #c44343;
        margin-top: -7px;

        &:hover {
          background: darken(#c44343, 5);
        }
      }
    }

    &.success {
      background: #66b53f;
      height: 175px;

      a {
        background: rgba(0, 0, 0, .2);
        margin-top: -7px;

        &:hover {
          background: rgba(0, 0, 0, .3);
        }
      }
    }

    &.show {
      display: block;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }

    p {
      line-height: 1.4em;
    }

    a {
      width: 100%;
      padding: 10px 0;
      margin-top: 15px;
      display: inline-block;
      border-radius: 3px;

      color: white;
      text-decoration: none;
      font-weight: 700;

      &.left {
        margin-right: 10px;
      }
    }
  }
}

.game-section.credits {

  .col {
    float: left;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    box-sizing: border-box;
  }

  .left-col {
    width: 500px;
    margin-right: 10px;

    h2 {
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 20px;
    }

    ul {
      list-style: disc;
      padding-left: 1em;

      li {
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    a {
      color: #C9FFD5;
      text-decoration: none;
    }
  }

  .right-col {
    width: 190px;

    img {
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
}

$hint_bg: rgba(0,0,0,0.05);

@-webkit-keyframes blink {
  0% {
    background-color: rgba(255, 255, 0, 0.05);
    opacity:1;
  }
  22% {
    background-color: rgba(255, 255, 0, 0.5);
  }
  77% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: $hint_bg;
  }
}

#hints {
  li {
    p {
      background: $hint_bg;

      &.new {
        background: rgba(78, 255, 147, 0.5);
        animation: blink 1s 1 ease-in-out;
      }
    }
  }
}

//@mixin blink_animation() {
//  $name: blink;
//  $duration: 900ms;
//  $iteration: 1;
//  $timing-func: ease-in-out;
//
//  -webkit-animation: $name $duration $iteration $timing-func;
//  -moz-animation: $name $duration $iteration $timing-func;
//  animation: $name $duration $iteration $timing-func;
//}
//
//.blink {
//  @include blink(Yellow, Yellow, Red, #777);
//  @include blink_animation();
//}
//
//@-webkit-keyframes blink {
//
//}
//
//.blink {
//  -webkit-animation-name: blink;
//  -webkit-animation-duration: 900ms;
//  -webkit-animation-iteration-count: 1;
//  -webkit-animation-timing-function: ease-in-out;
//}
//@mixin blink($color_0, $color_1, $color_2, $color_3) {
//  @-webkit-keyframes blink {
//    0% {
//      background-color: $color_0;
//      opacity:1;
//    }
//    22% {
//      background-color: $color_1;
//    }
//    77% {
//      background-color: $color_2;
//    }
//    100% {
//      background-color: $color_3;
//    }
//  }
//
//  @-moz-keyframes blink {
//    0% {
//      background-color: $color_0;
//      opacity:1;
//    }
//    22% {
//      background-color: $color_1;
//    }
//    77% {
//      background-color: $color_2;
//    }
//    100% {
//      background-color: $color_3;
//    }
//  }
//
//  @-ms-keyframes blink {
//    0% {
//      background-color: $color_0;
//      opacity:1;
//    }
//    22% {
//      background-color: $color_1;
//    }
//    77% {
//      background-color: $color_2;
//    }
//    100% {
//      background-color: $color_3;
//    }
//  }
//
//  @keyframes blink {
//    0% {
//      background-color: $color_0;
//      opacity:1;
//    }
//    22% {
//      background-color: $color_1;
//    }
//    77% {
//      background-color: $color_2;
//    }
//    100% {
//      background-color: $color_3;
//    }
//  }
//}